* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    touch-action: manipulation;
    font-family: proxima-nova;
}

*::after,
*::before {
    box-sizing: border-box;
}


html {
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

[x-cloak] {
    display: none !important;
}

body {
    height: 100%;
    overflow: hidden;
    width: 100%;
    color: black;
    background-color: rgb(240, 243, 248);
}

button {
    appearance: button;
    -webkit-appearance: button;
}

input,
textarea {
    caret-color: rgb(132, 251, 127);
    outline: none;
}

@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}

.brand::before {
    content: "Uphold";
}

.myBg {
    align-items: center;
    justify-content: center;
    left: 0px;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid black;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    list-style: none;
    margin: 0px;
    min-height: 0px;
    min-width: 0px;
    padding: 0px;
    text-decoration: none;
    z-index: -1;
}

.container {
    width: 880px;
    margin: 0 auto;
}

.logo {
    position: absolute;
    left: 20px;
    top: 16px;
}

.logo img {
    width: 100%;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 96px;
    height: 100vh;
}

.left-content {
    display: flex;
    flex: 0 0 50%;
    align-items: center;
    flex-direction: column;
}

.left-content .text {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    text-align: start;
}

.left-content .text h1 {
    color: black;
    font-size: 32px;
    letter-spacing: -0.2px;
    line-height: 40px;
    font-weight: 700;
    margin-top: 0px;
}

.left-content .text p {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 28px;
    color: rgb(104, 119, 141);
    margin-top: 8px;
}

.content .left-content .image {
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid black;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    list-style: none;
    min-height: 0px;
    min-width: 0px;
    padding: 0px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}

.content .right-content {
    height: 520px;
    flex: 0 0 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    min-height: 0px;
    min-width: 0px;
    position: relative;
    border-radius: 8px;
    padding: 0 32px;
    padding-top: 32px;
}

.content .right-content .form_title {
    padding-bottom: 32px;
}

.content .right-content .form_title h3 {
    color: rgb(223, 230, 242);
    font-size: 24px;
    letter-spacing: -0.2px;
    line-height: 32px;
    font-weight: 700;
}

.content .right-content .form_title p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 20px;
    color: rgb(145, 158, 181);
    margin-top: 8px;
}

.content .right-content .form_title p a {
    color: rgb(132, 251, 127);
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
}

.content .right-content .form_title p a:hover {
    text-decoration: underline;
}

.content .right-content .form-group>* {
    flex-shrink: 0;
}

.content .right-content .form-group {
    padding-bottom: 32px;
    padding-top: 8px;
    position: relative;
}

.content .right-content .form-group label {
    color: black;
    font-size: 15px;
    letter-spacing: 0.4px;
    line-height: 16px;
    /* left: 8px; */
    position: absolute;
    top: -10px;
    margin: 0px;
    padding: 0px 8px;
    /* z-index: 1; */
    background-color: transparent;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
}

label.labelError {
    color: rgb(255, 103, 61) !important;
}

.content .right-content .form-group label::before {
    content: "";
    border-top: 2px solid rgb(22, 28, 39);
    left: 0px;
    right: 0px;
    position: absolute;
    top: 8px;
    z-index: -1;
}

.content .right-content .form-group .err-div {
    transition: border-color 0.3s ease-in-out;
    border-color: rgb(101, 115, 140);
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
}

.content .right-content .form-group .error {
    border-color: rgb(255, 103, 61) !important;
}

.content .right-content .form-group input {
    background-color: transparent;
    color: black;
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 20px;
    border: 0px;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 0px;
    padding: 12px 14px;
    transition: background-color 0.3sease-in-out;
    width: 100%;
   
}


.content .right-content .form-group .eye {
    cursor: pointer;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    padding: 10px 14px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid black;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    list-style: none;
    margin: 0px;
    min-height: 0px;
    min-width: 0px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}

.content .right-content form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content .right-content form .forgot-password {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.3px;
    line-height: 20px;
    color: rgb(73, 204, 104);
    box-shadow: none;
    cursor: pointer;
}

.content .right-content form .forgot-password:hover {
    text-decoration: underline;
}

.button-submit {
    flex: 1 1 0%;
    margin-top: auto;
    align-content: flex-end;
}

.button-submit button {
    align-items: center;
    border-radius: 9999px;
    border-width: 1px;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    gap: 8px;
    justify-content: center;
    padding: 9px 23px;
    width: 100%;
    background-color: rgb(73, 204, 104);
    border-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    cursor: pointer;
    pointer-events: all;
    border: 0px solid black;
    list-style: none;
    margin: 0px;
    min-height: 0px;
    min-width: 0px;
    position: relative;
    text-decoration: none;
    z-index: 0;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 20px;
    font-weight: 600;
    text-align: center;
    color: rgb(9, 13, 20);
}

.button-submit button:hover {
    background-color: rgb(98, 231, 95);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 28px;
}

.footer .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .footer-content p {
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 16px;
    color: rgb(145, 158, 181);
    font-size: 12px;
}

.footer .footer-content .faq {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .footer-content .faq .dot {
    font-size: 8px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 10px;
    color: rgb(145, 158, 181);
    margin-left: 4px;
    margin-right: 2px;
}

.footer .footer-content .faq a {
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 16px;
    font-weight: 600;
    border-radius: 4px;
    display: inline;
    flex-direction: row;
    color: rgb(209, 212, 229);
    text-decoration: underline;
    box-shadow: none;
    touch-action: manipulation;
    cursor: pointer;
}

.footer .footer-content .faq a:hover {
    text-decoration: none;
}

.error-message {
    color: rgb(255, 103, 61);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 16px;
    padding: 4px 16px 12px;
}

span.loader {
    width: 24px;
    height: 24px;
}

.loader svg {
    height: 100%;
    width: 100%;
}

.text-o {
    scroll-padding-bottom: 64px;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
    scroll-snap-align: start;
    scrollbar-color: rgba(145, 158, 181, 0.8) transparent;
    padding: 8px 32px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.text-o h2 {
    margin-top: 16px;
    color: #FF6B6B;
    font-weight: bold;
    margin-bottom: 8px;
}

.alt-content p {
    margin-top: 8px;
    text-align: center;
    color: #D1D4E5;
    line-height: 2;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.4px;
}

@media (max-width: 991px) {
    .left-content {
        display: none;
    }

    .right-content {
        flex: 0 0 100%;
    }

    .container {
        width: 100%;
    }

    .footer {
        z-index: 999999999;
        padding: 0px 28px 28px;
    }

    .footer .footer-content .faq a {
        width: max-content;
    }

    .button-submit {
        padding-bottom: 96px !important;
    }
}

@media (max-width: 850px) {
    .myBg {
        display: none;
    }

    .right-content {
        width: 100%;
        height: 100% !important;
    }

    .content {
        display: block;
        height: 100vh;
        z-index: 999999999;
        position: relative;
    }
}


@media (max-width: 768px) {
  .footertextsize a{
    /* background-color: red !important; */
    font-size: 8px !important;
  }

  .footer-content p{
    margin-top: 12px ;
    font-size: 12px;
  }
}



@font-face {
    font-family: proxima-nova;
    src: url(https://use.typekit.net/af/2555e1/00000000000000007735e603/30/l?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n7&v=3) format("woff2"), url(https://use.typekit.net/af/2555e1/00000000000000007735e603/30/d?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n7&v=3) format("woff"), url(https://use.typekit.net/af/2555e1/00000000000000007735e603/30/a?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n7&v=3) format("opentype");
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    font-display: auto;
}

@font-face {
    font-family: proxima-nova;
    src: url(https://use.typekit.net/af/78aca8/00000000000000007735e60d/30/l?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n6&v=3) format("woff2"), url(https://use.typekit.net/af/78aca8/00000000000000007735e60d/30/d?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n6&v=3) format("woff"), url(https://use.typekit.net/af/78aca8/00000000000000007735e60d/30/a?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n6&v=3) format("opentype");
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    font-display: auto;
}

@font-face {
    font-family: proxima-nova;
    src: url(https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/l?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/d?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/a?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n4&v=3) format("opentype");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: auto;
}

@font-face {
    font-family: proxima-nova;
    src: url(https://use.typekit.net/af/1be3c2/00000000000000007735e606/30/l?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n3&v=3) format("woff2"), url(https://use.typekit.net/af/1be3c2/00000000000000007735e606/30/d?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n3&v=3) format("woff"), url(https://use.typekit.net/af/1be3c2/00000000000000007735e606/30/a?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n3&v=3) format("opentype");
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    font-display: auto;
}

@font-face {
    font-family: proxima-nova;
    src: url(https://use.typekit.net/af/23e139/00000000000000007735e605/30/l?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n5&v=3) format("woff2"), url(https://use.typekit.net/af/23e139/00000000000000007735e605/30/d?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n5&v=3) format("woff"), url(https://use.typekit.net/af/23e139/00000000000000007735e605/30/a?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n5&v=3) format("opentype");
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    font-display: auto;
}